@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/images/pattern-background-desktop.svg);
  background-size: contain;
  background-repeat: no-repeat;
  font-family: "Red Hat Display", sans-serif;
  background-color: var(--pale-blue);
  font-size: 16px;
}

.card {
  width: 450px;
  background-color: white;
  margin: 50px auto;
  border-radius: 10px;
  overflow: hidden;
}

.title {
  color: var(--dark-blue);
  font-weight: 900px;
  font-size: 32px;
  text-align: center;
}

.hero_image {
  width: 100%;
}

.container {
  padding: 30px;
  text-align: center;
  color: gray;
}

.container > * {
  margin: 13px;
}

.plan_container {
  font-size: 16px;
  background-color: var(--very-pale-blue);
  padding: 25px;
  border-radius: 12px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
}

.plan_container a {
  color: var(--bright-blue);
  font-size: 13px;
  font-weight: 700;
}

.plan_container a:hover {
  text-decoration: none;
  opacity: 0.8;
}

.plan_container strong {
  color: var(--dark-blue);
}

.plan_description {
  line-height: 25px;
  margin-left: -100px;
}

button {
  width: 100%;
  font-weight: 700;
  font-size: 0.9rem;
  cursor: pointer;
  border-radius: 12px;
  border: none;
}

.proceed_button {
  background-color: var(--bright-blue);
  color: white;
  padding: 1rem 0;
  box-shadow: 0 20px 30px -8 rgb(197, 189, 245);
}

.proceed_button:hover {
  opacity: 0.8;
}

.cancel_button {
  background-color: white;
  color: var(--desaturated-blue);
  margin-top: 22px;
}

.cancel_button:hover {
  color: black;
}
